:root {
  --color-purple: #8B5CF6;
  --color-pink: #EC4899;
  --color-gray: #9CA3AF;
  --color-black: #1F2937;
  --card-size: 23rem;
}

.carousel {
  position: relative;
  width: 100%;
  height: 50vh;          
  min-height: 500px;
  perspective: 500px;
  transform-style: preserve-3d;
  z-index: 10;
}

.card-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;         
  transform:
    translateY(-50%)
    rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1.5rem));
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
  user-select: none;
}

.nav {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background: unset;
  border: unset;
  user-select: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.nav.left {
  left: 0;
  transform: translate(-100%, -50%);
}

.nav.right {
  right: 0;
  transform: translate(100%, -50%);
}

.icon-size {
  --icon: 32px;
  width: var(--icon);
  height: var(--icon);
}

@media (min-width: 640px) {
  .icon-size { --icon: 40px; }
}
@media (min-width: 768px) {
  .icon-size { --icon: 64px; }
}
@media (min-width: 1024px) {
  .icon-size { --icon: 80px; }
}