@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: "SN Pro", sans-serif;
  }
}

@layer components {
  .glow-text {
    text-shadow: 0 0 50px var(--color-primary);
  }

  .glow {
    box-shadow: 0 0 30px var(--color-primary);
  }

  .modern {
    font-family: "Orbitron", sans-serif;
  }

  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
  }

  .stat {
    @apply flex items-center gap-2;
  }

  .stat-value {
    @apply text-8xl font-normal text-main;
  }

  .stat-label {
    @apply text-xl w-30 font-light text-foreground;
  }
}

@layer utilities {
  @keyframes slow-drift {

    0%,
    100% {
      transform: translate(0, 0);
    }

    25% {
      transform: translate(30px, -40px);
    }

    50% {
      transform: translate(-15px, -30px);
    }

    75% {
      transform: translate(40px, 10px);
    }
  }
}

@theme {
  --color-main: #ffffff;
  --color-foreground: #c0c0c0ff;

  --color-primary: #0ba9e7;

  --color-background: #0c0c0c;

  --color-border: #242b32;

  --color-surface: #1a2329;

  --color-test: #ff0000;
}

:root {
  --color-main: #ffffff;
  --color-foreground: #c0c0c0ff;

  --color-primary: #0ba9e7;

  --color-background: #0c0c0c;

  --color-border: #242b32;

  --color-surface: #1a2329;

  --color-test: #ff0000;
}

.light {}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}