@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: "SN Pro", sans-serif;
  }
}

@layer components {}

@layer utilities {
  .glow-text {
    text-shadow: 0 0 20px var(--color-primary);
  }

  .glow {
    box-shadow: 0 0 30px var(--color-primary);
  }

  .glow-foreground {
    box-shadow: 0 0 40px var(--color-primary-foreground);
  }

  .modern-font {
    font-family: "Orbitron", sans-serif;
  }

  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 30%, transparent);
    backdrop-filter: blur(4px);
    border: 1px solid color-mix(in srgb, var(--color-border) 30%, transparent);
  }

  .stat {
    @apply flex items-center gap-2;
  }

  .stat-value {
    @apply text-5xl font-normal text-main;
  }

  .stat-label {
    @apply text-sm font-light text-foreground;
  }

  @keyframes slow-drift {

    0%,
    100% {
      transform: translate(0, 0);
    }

    25% {
      transform: translate(30px, -40px);
    }

    50% {
      transform: translate(-15px, -30px);
    }

    75% {
      transform: translate(40px, 10px);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }

  .animate-border {
    animation: border 4s linear infinite;
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}

@theme {
  --color-main: #ffffff;
  --color-foreground: #c0c0c0ff;

  --color-primary: #0ba9e7;
  --color-primary-foreground: #0ba9e77a;

  --color-background: #0c0c0c;

  --color-border: #242b32;

  --color-surface: #1a2329;

  --color-test: #ff0000;
}

:root {
  --color-main: #ffffff;
  --color-foreground: #c0c0c0ff;

  --color-primary: #0ba9e7;
  --color-primary-foreground: #0ba9e77a;

  --color-background: #0c0c0c;

  --color-border: #242b32;

  --color-surface: #495156;

  --color-test: #ff0000;
}

.light {}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}